//
//  Debug.xcconfig
//  X3
//
//  Created by 王小涛 on 2020/2/12.
//  Copyright © 2020 王小涛. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BundleDisplayName = 汇丰科技测试版
BundleIdentifier = cn.com.hsbcchina.tech.test

BundleShortVersion = 1.0.0

APIDomain = www.baidu.com
